<form (submit)="onSubmit()">
  <div class="form-group">
    <label>Name</label>
LessonComponentsSearch-TickerOrWebsite: <input type="text" [(ngModel)]="tempTicker" name="Ticker"> <input type="submit">
  </div>
</form>
<h3> 6.35 Creating a Service {{ servicea }} </h3>
<div *ngFor="let user of users">
  <div class="well">
  <ul class="list-group" >
    <li class="list-user-name">Name: {{ user.name }}
    </li>
    <li class="list-user-name">Email: {{ user.email }}
    </li>

  </ul>
</div>
</div>
